<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link
        href="https://fonts.googleapis.com/css?family=Archivo+Black|Cookie|Elsie|Galada|Lobster|Pattaya|Trade+Winds&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Document</title>
</head>

<body>
    {{{ body }}}
</body>

<body>









    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
    <script src="js/sell.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-storage.js"></script>
    <script>

        // splash transitions
        $("#button").click(function () {
            $('.transform').toggleClass('transform-active');
            $('.transform2').toggleClass('transform2-active');
            $('.splashtransform').toggleClass('splashtransform-active');
            setTimeout(function () { $('.containertransform').toggleClass('containertransform-active') }, 5000);
            setTimeout(function () { $('.bottomicons').toggleClass('bottomiconsvisible') }, 5000);
            console.log("hello");
            $('#button').unbind('click');

        });


// magnificPopup functions

        // $('.project1Thumbnail').magnificPopup({
        //     items: {
        //         src: 'assets/images/project1.png'
        //     },
        //     type: 'image' // this is default type
        // });
        // $('.quizThumbnail').magnificPopup({
        //     items: {
        //         src: 'assets/images/quiz.png'
        //     },
        //     type: 'image' // this is default type
        // });
        // $('.weatherThumbnail').magnificPopup({
        //     items: {
        //         src: 'assets/images/weather.png'
        //     },
        //     type: 'image' // this is default type
        // });

        // $('.burgerinputThumbnail').magnificPopup({
        //     items: {
        //         src: 'assets/images/burgerinput.png'
        //     },
        //     type: 'image' // this is default type
        // });




    </script>
</body>

</html>