
body {
    background-image: url(../images/00000PORTRAIT_00000_BURST20180529143630071.jpg);
  background-size: cover ;
  background-repeat: no-repeat;
  
 
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 171, 250, 0.856); /* Black background with opacity */
  
}

.topleft {
    position: fixed;
    top: 0;
    height: 50%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

.bottomright {
  position: fixed;
  bottom: 0;
  margin-left: 50%;
  
  height: 50%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {

    position: fixed;
    
    margin-top: 20%;

     
    
}
button {
  background-color: transparent;
 outline: 0px;
}
.rlt {
  font-family: 'Lobster', cursive;
  margin-top: 26%;
  
  align-items: center;
  justify-content: center;

    font-size: 120px;
    color: white;
    
    
    text-align: center;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}





.logo2 {

  position: fixed;
   
  margin-top: 3%;

   
  
}




.transform {
  -webkit-transition: all 5s ease;  
  -moz-transition: all 5s ease;  
  -o-transition: all 5s ease;  
  -ms-transition: all 5s ease;  
  transition: all 5s ease;
}

.transform2 {
  -webkit-transition: all 5s ease;  
  -moz-transition: all 5s ease;  
  -o-transition: all 5s ease;  
  -ms-transition: all 5s ease;  
  transition: all 5s ease;
}

.transform-active {
  background-color: rgba(0, 0, 0, 0.5);
  height: 0px;
  width: 0px;
  height: 105px;
  width: 100%;
}

.transform2-active {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
  width: 100%;
  right: 0;
  bottom: 0;
}

.splashtransform {
  -webkit-transition: all 5s ease;  
  -moz-transition: all 5s ease;  
  -o-transition: all 5s ease;  
  -ms-transition: all 5s ease;  
  transition: all 5s ease;
}


.splashtransform-active {

  font-family: 'Lobster', cursive;
  margin-top: 0px;
  
    font-size: 120px;
    color: white;
    text-align: center;
 
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.containerhidden{
 
  visibility: hidden;
}

.containertransform {
  -webkit-transition: all 5s ease;  
  -moz-transition: all 5s ease;  
  -o-transition: all 5s ease;  
  -ms-transition: all 5s ease;  
  transition: all 5s ease;
  
  
}

.containertransform-active {
  margin-top: 200px;
  display: inline-flexbox;
  visibility: visible;
  margin: auto;
}


.card1 {
  margin-top: 300px;
  
}

.card {
  background-color: transparent;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  color: white;
}

a:hover {
  color: whitesmoke;
}

.linkedin {
  margin-top: 30px;
  width: 45px;
  justify-content: center;
  
 
  
}

.github {
  margin-top: 25px;
  width: 45px;
  justify-content: center;
 
  
}

.resume {
  margin-top: 25px;
  width: 45px;
  justify-content: center;
  
  
}
.email {
  margin-top: 25px;
  width: 48px;
  justify-content: center;
  
  
}

.bottomicons {
  visibility: hidden;
}

.bottomiconsvisible {
  visibility: visible;
  margin-left: 38%;
  
}

#aboutmetext {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

/* .profileimage {
  margin-top: 200px !important;
} */